body
{
margin-top:60px;
}

h1
{
font-size:4em;
margin-bottom:0;

    & a {
    text-decoration:none;
    }
}

button, input[type="submit"]
{
font-family:Lato;
height:39px;
margin-top:-10px;
}

.center 
{
text-align:center;
}

.center-block
{
margin:0 auto;
}

.center form
{
display:inline-block;
}

.pushdown
{
margin-top:6em;
}

.captcha-center
{
display:block;
width:447px;
margin:1em auto 2em!important;
}
