body
{
margin-top:60px;
}

h1
{
font-size:4em;
margin-bottom:0;

    & a {
    text-decoration:none;
    }
}

input[type="submit"]
{
font-family:Lato;
height:39px;
margin-top:-10px;
}

.center
{
text-align:center;
}

.center form
{
display:inline-block;
}

.pushdown
{
margin-top:6em;
}
