<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Error</h4>
      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :email, :placeholder => "Your Email", :type => "email" %>
  <%= f.submit "Protect!", :class => "btn btn-primary" %>
<% end %>
