<div class="row-fluid">
  <div class="span12">
    <h1 class="center"><a href="./">MailRubber</a></h1>
    <p class="center">A condom for your email address</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="center pushdown">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="row-fluid pushdown">
  <div class="span4">
    <h2 class="center">What's MailRubber?</h2>
    <p>MailRubber puts an extra shield between your email address and the world of hungry bots. Here's how it works:</p>
    <ul>
      <li>You put in your email address and click 'Protect!'</li>
      <li>MailRubber provides you with a link to give to people instead of your email address.</li>
      <li>When someone wants your email address, they click the link, and have to prove they're human before they can have it.</li>
    </ul>  
    <p>It's safe, fast, and free, and you can delete your link at any time. The full source code is available on <a href="http://www.github.com/Sourceless/mailrubber">GitHub</a>.</p>
  </div>
  <div class="span4">
    <h2 class="center">What can it do?</h2>
    <ul>
      <li>Stop greedy little bots farming your email address.</li>
      <li>Remove the need for <a href="http://www.wikipedia.org/wiki/Address_munging">munging</a>.
    </ul>
    <p>You can also delete your unique link at any time, using the deletion link provided to you.</p>
  </div>
  <div class="span4">
    <h2 class="center">What can't it do?</h2>
    <ul>
      <li>Prevent evil human beings passing the anti-robot tests.</li>
      <li>Outwit skynet.</li>
    </ul>
    <p>Keep in mind that good spam filter is worth its weight in gold. If spam filters weighed anything.</p>
  </div>
</div>
