<!DOCTYPE html>
<html>
<head>
  <title>MailRubber</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1 class="center"><a href="./">MailRubber</a></h1>
        <p class="center">A condom for your email address</p>
      </div>
    </div>

    <%= yield %>
  </div>
</body>
</html>
